<nav>
    <div class="container">
        <p></p>
        <a href="">Izumi's Blog</a>
        <p>Welcome to my blog</p>
    </div>
    <ul>
        <li><a href="/">Main page</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="blogs/create">Create blog</a></li>
    </ul>
</nav>