<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
<nav>
    <div class="container">
        <a href="">Izumi's Blog</a>
        <p>Welcome to my blog</p>
    </div>
    <ul>
        <li><a href="/">Main page</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="blogs/create">Create blog</a></li>
    </ul>
</nav>

<div>
    <h2>
        Uuuups!
    </h2>
</div>

</body>
</html>