<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <div>
                <h2>
                    About us
                </h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur excepturi consequuntur animi
                    quibusdam! Nemo dolorem asperiores magni maiores non quos deleniti et minus culpa expedita incidunt,
                    aperiam sint. Omnis quae, nulla enim asperiores optio velit expedita ex voluptates eligendi
                    molestiae voluptatum quos odio nisi eaque debitis et ipsa hic aliquam vitae qui reprehenderit
                    temporibus nesciunt. Delectus exercitationem quisquam itaque optio minus, architecto quae vitae
                    porro tenetur quaerat reprehenderit suscipit sed totam aperiam iste dicta dolore, ratione mollitia
                    laboriosam eos atque, non fugiat aut! Velit temporibus ex dicta eos saepe? Non eveniet mollitia
                    facilis tempore quae necessitatibus aspernatur, soluta eum? Veritatis.</p>
            </div>

            <%- include('./partials/footer.ejs') %>

    </body>

</html>